.light  {
    .payment-success-box {
        background-image: linear-gradient(to right, #ebdefdf0, rgb(152, 156, 239), rgb(107, 118, 243), rgb(21, 30, 119));
    }
}

.dark  {

    .payment-success-box {
        background-image: linear-gradient(to right, #8127fef0, rgb(15, 19, 85), rgb(7, 10, 41), rgb(5, 7, 31));
    }

}




.payment-success-box {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(to right, #8127fef0, rgb(15, 19, 85), rgb(7, 10, 41), rgb(5, 7, 31));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    #status {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Conthrax", sans-serif;
        font-weight: 700;
        line-height: 1.2;
        font-size: 50px;

    }

    #message{
        color: #ffffff;
        text-align: center;
    }
}