.light  {
    .footer {
        background-image: linear-gradient(to right, #ebdefdf0, rgb(152, 156, 239), rgb(107, 118, 243), rgb(21, 30, 119));
    }
}

.dark {

    .footer {
        background-image: linear-gradient(to right, #8127fef0, rgb(15, 19, 85), rgb(7, 10, 41), rgb(5, 7, 31));
    }

}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(to right, #8127fef0, rgb(15, 19, 85), rgb(7, 10, 41), rgb(5, 7, 31));
    height: 30vh;

    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 30vh;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: 30vh;

        nav ul li {
            list-style: none;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: "Conthrax", sans-serif;
            }
        }

    }

    .text-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      
       img{
        width: 98px;
        height: 114px;
        border-radius: 9px;
       }

   

    }

    .text-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: 30vh;

        nav ul li {
            list-style: none;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: "Conthrax", sans-serif;
            }
        }

    }

    .applications{
        ul li{
            list-style: none;
            button{
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
             
            }
        }
    }

}


@media (max-width: 800px) {
.footer{
flex-direction: column;
height: 100vh;
}
}